<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">1234</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbelaseguradov4</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.search.autoregister_listeners">true</property>
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <property name="show_sql">true</property>
  <mapping class="ar.TpDisenio2019.Modelo.Aniodevehiculo"/>
  <mapping class="ar.TpDisenio2019.Modelo.Cliente"/>
  <mapping class="ar.TpDisenio2019.Modelo.Cuota"/>
  <mapping class="ar.TpDisenio2019.Modelo.Datosdehijo"/>
  <mapping class="ar.TpDisenio2019.Modelo.Direccion"/>
  <mapping class="ar.TpDisenio2019.Modelo.Estado"/>
  <mapping class="ar.TpDisenio2019.Modelo.Estadocivil"/>
  <mapping class="ar.TpDisenio2019.Modelo.Estadocliente"/>
  <mapping class="ar.TpDisenio2019.Modelo.Factoresusados"/>
  <mapping class="ar.TpDisenio2019.Modelo.Formasdepago"/>
  <mapping class="ar.TpDisenio2019.Modelo.Kmporanio"/>
  <mapping class="ar.TpDisenio2019.Modelo.Localidad"/>
  <mapping class="ar.TpDisenio2019.Modelo.Marca"/>
  <mapping class="ar.TpDisenio2019.Modelo.Medidasdeseguridad"/>
  <mapping class="ar.TpDisenio2019.Modelo.Medidasdeseguridadporc"/>
  <mapping class="ar.TpDisenio2019.Modelo.Modelo"/>
  <mapping class="ar.TpDisenio2019.Modelo.Modificacionpoliza"/>
  <mapping class="ar.TpDisenio2019.Modelo.Numeropoliza"/>
  <mapping class="ar.TpDisenio2019.Modelo.Operador"/>
  <mapping class="ar.TpDisenio2019.Modelo.Pais"/>
  <mapping class="ar.TpDisenio2019.Modelo.Parametrosgenerales"/>
  <mapping class="ar.TpDisenio2019.Modelo.Poliza"/>
  <mapping class="ar.TpDisenio2019.Modelo.Profesion"/>
  <mapping class="ar.TpDisenio2019.Modelo.Provincia"/>
  <mapping class="ar.TpDisenio2019.Modelo.Recibo"/>
  <mapping class="ar.TpDisenio2019.Modelo.Siniestro"/>
  <mapping class="ar.TpDisenio2019.Modelo.Tipocobertura"/>
  <mapping class="ar.TpDisenio2019.Modelo.Tipodedocumento"/>
  <mapping class="ar.TpDisenio2019.Modelo.Vehiculo"/>
  <mapping class="ar.TpDisenio2019.Modelo.Condicioniva"/>
 </session-factory>
</hibernate-configuration>
