<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">cabj</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbelaseguradov4</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping resource="Aniodevehiculo.hbm.xml"/>
  <mapping resource="Cliente.hbm.xml"/>
  <mapping resource="Condicioniva.hbm.xml"/>
  <mapping resource="Cuota.hbm.xml"/>
  <mapping resource="Datosdehijo.hbm.xml"/>
  <mapping resource="Direccion.hbm.xml"/>
  <mapping resource="Estado.hbm.xml"/>
  <mapping resource="Estadocivil.hbm.xml"/>
  <mapping resource="Estadocliente.hbm.xml"/>
  <mapping resource="Factoresusados.hbm.xml"/>
  <mapping resource="Formasdepago.hbm.xml"/>
  <mapping resource="Localidad.hbm.xml"/>
  <mapping resource="Marca.hbm.xml"/>
  <mapping resource="Medidasdeseguridad.hbm.xml"/>
  <mapping resource="Medidasdeseguridadporc.hbm.xml"/>
  <mapping resource="Modelo.hbm.xml"/>
  <mapping resource="Modificacionpoliza.hbm.xml"/>
  <mapping resource="Operador.hbm.xml"/>
  <mapping resource="Pais.hbm.xml"/>
  <mapping resource="Parametrosgenerales.hbm.xml"/>
  <mapping resource="Poliza.hbm.xml"/>
  <mapping resource="Profesion.hbm.xml"/>
  <mapping resource="Provincia.hbm.xml"/>
  <mapping resource="Recibo.hbm.xml"/>
  <mapping resource="Siniestro.hbm.xml"/>
  <mapping resource="Tipocobertura.hbm.xml"/>
  <mapping resource="Tipodedocumento.hbm.xml"/>
  <mapping resource="Vehiculo.hbm.xml"/>
  <mapping resource="Kmporanio.hbm.xml"/>
  <mapping resource="Numeropoliza.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
