<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbelaseguradov4</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping class="ar.TpDisenio2019.Mapping.Aniodevehiculo"/>
  <mapping class="ar.TpDisenio2019.Mapping.Cliente"/>
  <mapping class="ar.TpDisenio2019.Mapping.Condicioniva"/>
  <mapping class="ar.TpDisenio2019.Mapping.Cuota"/>
  <mapping class="ar.TpDisenio2019.Mapping.Datosdehijo"/>
  <mapping class="ar.TpDisenio2019.Mapping.Direccion"/>
  <mapping class="ar.TpDisenio2019.Mapping.Estado"/>
  <mapping class="ar.TpDisenio2019.Mapping.Estadocivil"/>
  <mapping class="ar.TpDisenio2019.Mapping.Estadocliente"/>
  <mapping class="ar.TpDisenio2019.Mapping.Factoresusados"/>
  <mapping class="ar.TpDisenio2019.Mapping.Formasdepago"/>
  <mapping class="ar.TpDisenio2019.Mapping.Kmporanio"/>
  <mapping class="ar.TpDisenio2019.Mapping.Localidad"/>
  <mapping class="ar.TpDisenio2019.Mapping.Marca"/>
  <mapping class="ar.TpDisenio2019.Mapping.Medidasdeseguridad"/>
  <mapping class="ar.TpDisenio2019.Mapping.Medidasdeseguridadporc"/>
  <mapping class="ar.TpDisenio2019.Mapping.Modelo"/>
  <mapping class="ar.TpDisenio2019.Mapping.Modificacionpoliza"/>
  <mapping class="ar.TpDisenio2019.Mapping.Numeropoliza"/>
  <mapping class="ar.TpDisenio2019.Mapping.Operador"/>
  <mapping class="ar.TpDisenio2019.Mapping.Pais"/>
  <mapping class="ar.TpDisenio2019.Mapping.Parametrosgenerales"/>
  <mapping class="ar.TpDisenio2019.Mapping.Poliza"/>
  <mapping class="ar.TpDisenio2019.Mapping.Profesion"/>
  <mapping class="ar.TpDisenio2019.Mapping.Provincia"/>
  <mapping class="ar.TpDisenio2019.Mapping.Recibo"/>
  <mapping class="ar.TpDisenio2019.Mapping.Siniestro"/>
  <mapping class="ar.TpDisenio2019.Mapping.Tipocobertura"/>
  <mapping class="ar.TpDisenio2019.Mapping.Tipodedocumento"/>
  <mapping class="ar.TpDisenio2019.Mapping.Vehiculo"/>
 </session-factory>
</hibernate-configuration>
